*{
    padding: o;
    margin: 0;
}
body{
    background-color: rgba(197, 193, 209, 0.8)
}
#review{
    border: 1px solid black;
    padding: 2px;
    margin-top: 20px ;
    border-radius: 10px;
    background-color: rgba(111, 100, 145, 0.8);
    box-shadow: 2px  2px 2px ;

}
h3,p{
    padding: 10px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-weight: 700;
    font-size: 30px;
    color: aliceblue;
}
p{
    font-weight: 400;
}

#review{
    margin: 20px;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
#form-1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

}
#inputtitle{
    padding: 10px;
}
#inputsubmit{
    padding: 10px;
    cursor: pointer;
}
label{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.review{
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
}